.nav-menu-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: -3px 0 5px 2px lightgrey;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-icon-wrapper {
    height: 100%;
    width: 25%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.menu-icon-wrapper-active {
    color: rebeccapurple !important;
}

.menu-icon {
    font-size: 60px;
    color: white;
}