.page-login {
    text-align: center;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-password-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-name-field {
    margin-top: 10px !important;
}

.login-label {
    font-size: 20px;
}

.login-remember-block {
    margin: 10px;
}

@media (min-width: 600px) {
    .formLoginWrapper {
        width: 400px;
    }
}