.page-registration {
    text-align: center;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.label-registration {
    font-size: 20px;
}

.registration-password-field {
    margin-bottom: 10px;
}

.registration-name-field {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}

.registration-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

@media (min-width: 600px) {
    .formRegistrationWrapper {
        width: 400px;
    }
}